<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= bunny.name %></title>
  </head>
  <body>
    <h1><%= bunny.name %></h1>

    <a href="/bunnies/<%= bunny._id %>/edit">Edit <%= bunny.name %></a>

    <form action="/bunnies/<%= bunny._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= bunny.name %></button>
    </form>

    <a href="/bunnies">Back to the buns!</a>
  </body>
</html>
